<!DOCTYPE html>
<html>
  <head>
    <title>Petflix</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application'%>
    
    <script type="text/javascript">window.tabContentOne="<%= image_url('tab-content-1.png')%>"</script>
    <script type="text/javascript">window.tabContentTwo="<%= image_url('tab-content-2.png')%>"</script>
    <script type="text/javascript">window.logo="<%= image_url('logo.png')%>"</script>


    <script src="https://kit.fontawesome.com/dc2325b068.js" crossorigin="anonymous"></script>

    <% if logged_in? %>
        <script type="text/javascript">
          window.currentUser = <%= render(
            "api/users/user.json.jbuilder",
            user: current_user
          ).html_safe %>
        </script>
      <% end %>

  </head>

  <body>
    <%= yield %>
  </body>
</html>
