<!DOCTYPE html>
<html>
  <head>
    <title>Petflix</title>

    <meta property='og:title' content='Petflix'/>
    <meta property="og:type" content="website">
    <meta property='og:url' content='https://petflix-clone.herokuapp.com/#/'/>
    <meta property='og:image' content="<%= image_url('home.png')%>"/>
    <meta property='og:description' content='A clone of the netflix website except it includes our favorite pets as movie categories, includes videos of dogs, cats, hamsteres, and much more!'/>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>


    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application'%>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    
    <script type="text/javascript">window.tabContentOne="<%= image_url('nyc.png')%>"</script>
    <script type="text/javascript">window.tabContentTwo="<%= image_url('kid_and_dogs.png')%>"</script>
    <script type="text/javascript">window.logo="<%= image_url('logo.png')%>"</script>
    <script type="text/javascript">window.avatar="<%= image_url('petflix_profile_avatar.png')%>"</script>


<%= favicon_link_tag asset_path('favicon.ico'), :rel => 'icon', :type => "image/x-icon" %>

    <script src="https://kit.fontawesome.com/dc2325b068.js" crossorigin="anonymous"></script>

    <% if logged_in? %>
        <script type="text/javascript">
          window.currentUser = <%= render(
            "api/users/user.json.jbuilder",
            user: current_user
          ).html_safe %>
        </script>
      <% end %>

  </head>

  <body>
    <%= yield %>
  </body>
</html>
